@mixin fontFace($FontName, $FontPathName, $FontFileName, $FontWeight) {
	@font-face {
		font-family: "#{$FontName}";
		font-weight: #{$FontWeight};
		font-style: normal;
		font-display: swap;

		src: url("../fonts/#{$FontPathName}/#{$FontFileName}.eot");
		src: url("../fonts/#{$FontPathName}/#{$FontFileName}.woff") format("woff"),
			url("../fonts/#{$FontPathName}/#{$FontFileName}.ttf") format("truetype"),
			url("../fonts/#{$FontPathName}/#{$FontFileName}.eot?#iefix") format("embedded-opentype");
	}
}


@include fontFace("TTTravels", "TTTravels", "TTTravels-Bold", 700);
@include fontFace("TTTravels", "TTTravels", "TTTravels-DemiBold", 600);
@include fontFace("TTTravels", "TTTravels", "TTTravels-Medium", 500);
@include fontFace("TTTravels", "TTTravels", "TTTravels-Regular", 400);
@include fontFace("TTTravels", "TTTravels", "TTTravels-Light", 300);