.process {
    padding: 110px 0 81px;
    @media only screen and (max-width: $tablet) {
        padding: 50px 0;
    }
    @media only screen and (max-width: $mobile) {
        padding: 20px 0;
    }

    .wr {
        max-width: 1124px;
    }

    &-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 64px;
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            padding-bottom: 40px;
        }
    }

    h2 {
        width: 50%;
        @media only screen and (max-width: $mobile) {
            width: 100%;
        }
    }

    &-description {
        width: 40%;
        max-width: 414px;
        @media only screen and (max-width: $tablet) {
            width: 70%;
            max-width: none;
        }
        @media only screen and (max-width: $mobile) {
            width: 100%;
            font-size: 16px;
        }
    }

    &-img {
        border-radius: 8px;
        opacity: 0;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }

        &.b-process-img {
            animation: showProcessImg 1s forwards;
            opacity: 1;
        }
    }
}

@keyframes showProcessImg {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 10%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}